<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 공지사항 </title>
    <th:block th:replace="layout/head :: headFragment"></th:block>

</head>
<body>
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<th:block th:replace="layout/header :: headerFragment"></th:block>

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="/">Home</a> / 공지사항</span>
                <h3> 공지사항 </h3>
            </div>
        </div>
    </div>
</div>
<div class="section properties" style="min-height: 40vh;">
    <div class="container">
        <div class="d-flex justify-content-end">
            <form th:action="@{/notice/list.do}" class="d-flex justify-content-end" style="width: 40%">
                <select name="type" id="type" class="form-select w-25">
                    <option value="T" id="T"> 제목 </option>
                    <option value="C" id="C"> 내용 </option>
                    <option value="W" id="W"> 작성자 </option>
                </select>
                <input type="text" name="keyword" id="keyword" class="form-control" autocomplete="off" th:value="${page.keyword}">
                <input type="submit" class="btn btn-dark" value="검색">
            </form>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-2">
                <div class="list-group text-center w-100">
                    <a th:href="@{/notice/list.do}" class="list-group-item list-group-item-action active"> 공지사항 </a>
                    <a th:href="@{/qna/list.do}" class="list-group-item list-group-item-action"> Q&A </a>
                    <a th:href="@{/faq/list.do}" class="list-group-item list-group-item-action"> FAQ </a>
                </div>
            </div>
            <div class="col">
                <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th> # </th>
                        <th> 제목 </th>
                        <th> 작성일 </th>
                        <th> 조회수 </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notice : ${noticeList}" th:onclick="|location.href='@{/notice/detail.do(seq=${notice.seq}, page=${curPage})}'|" style="cursor: pointer">
                        <td th:text="${notice.seq}"></td>
                        <td style="width: 40%">
                            <div style="text-align: left;" th:text="${notice.title}"></div>
                        </td>
                        <td th:text="${notice.regdate}"></td>
                        <td th:text="${notice.visited}"></td>
                    </tr>
                    <tr th:if="${#lists.size(noticeList) == 0}">
                        <td colspan="4"> 작성된 게시글이 없습니다. </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Pagination -->
                <div class="row" th:if="${page.lastPageNum != 0}">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <li th:if="${page.curPageNum > 5}">
                                <a th:href="@{/notice/list.do(page=${page.blockStartNum - 1},type=${page.type},keyword=${page.keyword})}"> << </a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(page.blockStartNum, page.blockLastNum)}">
                                <a th:if="${page.curPageNum == i}" th:href="@{/notice/list.do(page=${i},type=${page.type},keyword=${page.keyword})}" th:text="${i}" class="is_active"></a>
                                <a th:if="${page.curPageNum != i}" th:href="@{/notice/list.do(page=${i},type=${page.type},keyword=${page.keyword})}" th:text="${i}"></a>
                            </li>
                            <li th:if="${page.blockLastNum < page.totalPageCount}">
                                <a th:href="@{/notice/list.do(page=${page.blockLastNum + 1},type=${page.type},keyword=${page.keyword})}"> >> </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <a th:href="@{/notice/insert.do}" class="btn btn-dark mt-3" sec:authorize="hasAuthority('ADMIN')"> 글쓰기 </a>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="layout/footer :: footerFragment"></th:block>

</body>
</html>