<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment">
    <header class="header-area header-sticky" id="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="/" class="logo">
                            <h1>Villa</h1>
                        </a>
                        <ul class="nav">
                            <li><a href="index.html" class="active">Home</a></li>
                            <li><a href="properties.html">Properties</a></li>
                            <li><a href="property-details.html">Property Details</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="/login"><i class="fa fa-user"></i> Login </a></li>
                            <li><a href="/join"><i class="fa-solid fa-right-to-bracket"></i> Join </a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>