<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.pro05.persis.ChatMapper">

    <!-- 채팅방 목록 출력 -->
    <select id="findAllRoom" resultType="com.chunjae.pro05.entity.ChatRoom">
        SELECT c.*, message as lastChat, resdate as lastDate
        FROM chatroom c LEFT OUTER JOIN (SELECT roomId, MAX(resdate) AS maxDate FROM chatmsg GROUP BY roomId) m ON (c.roomId = m.roomId)
                        LEFT OUTER JOIN chatmsg msg ON (c.roomId = msg.roomId)
        WHERE (resdate = maxDate and (buyer = #{name} or seller = #{name})) OR (maxDate IS NULL)
    </select>
    
    <!-- 구매자와의 채팅방 목록 출력 -->
    <select id="findBuyerById" resultType="com.chunjae.pro05.entity.TradeChat">
        select * from pro_chat where seller=#{seller} and pact='JOIN' and cact='JOIN'
    </select>
    
    <!-- 판매자와의 채팅방 목록 출력 -->
    <select id="findSellerById" resultType="com.chunjae.pro05.entity.TradeChat">
        select * from pro_chat where buyer=#{buyer} and pact='JOIN' and cact='JOIN'
    </select>
    
    <!-- 해당 채팅방 채팅내역 갖고오기 -->
    <select id="findChatById" resultType="com.chunjae.pro05.entity.ChatMessage">
        select * from chatmsg where roomId=#{roomId}
    </select>
    
    <!-- 해당 채팅방 채팅내역 갖고오기 -->
    <select id="findChatLatest" resultType="com.chunjae.pro05.entity.ChatMessage">
        select * from chatmsg where roomId=#{roomId} limit 1
    </select>
    
    <!-- 채팅방 생성 -->
    <insert id="createRoom">
        insert into chatroom values(#{roomId}, #{name}, #{buyer}, #{seller}, #{tno}, default)
    </insert>
    
    <!-- 채팅방을 만들기 전에 기존에 중복된 채팅방이 있는지 확인 -->
    <select id="findChatDist">
        select count(*) from chatroom where buyer=#{buyer} and seller=#{seller} and tno=#{tno}
    </select>
    
    <!-- 채팅 내역 db 저장 -->
    <insert id="insertChat">
        insert into chatmsg values(default, #{roomId}, #{type}, #{sender}, #{message}, default)
    </insert>
    
    <!-- 거래 완료된 상품의 채팅방 DSBLD 처리 -->
    <update id="actUpdate">
        update chatroom set act='DSBLD' where tno=#{tno}
    </update>
    
    <!-- 채팅방 비활성화(DSBLD) 처리 -->
    <update id="chatDsbld">
        update chatroom set act='DSBLD' where room_id=#{roomId}
    </update>

</mapper>