<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.pro05.persis.FreeCommentMapper">

    <select id="commentList" resultType="com.chunjae.pro05.entity.FreeComment">
        SELECT cno, fno, name, content,
               case
                   when DATEDIFF(NOW(), resdate) > 0
                       then CONCAT(DATEDIFF(NOW(), resdate), '일 전')
                   when TIMESTAMPDIFF(HOUR, resdate, NOW()) > 0
                       then CONCAT(TIMESTAMPDIFF(HOUR, resdate, NOW()), '시간 전')
                   ELSE CONCAT(TIMESTAMPDIFF(MINUTE, resdate, NOW()), '분 전')
                   END AS resdate, recommend
        FROM free_com where fno = #{fno}
        order by cno desc limit #{page.postStart}, #{page.postCount}
    </select>

    <select id="totalCnt" resultType="int">
        select count(*) from free_com where fno = #{fno}
    </select>

    <select id="getComment" resultType="com.chunjae.pro05.entity.FreeComment">
        SELECT cno, fno, name, content,
               case
                   when DATEDIFF(NOW(), resdate) > 0
                       then CONCAT(DATEDIFF(NOW(), resdate), '일 전')
                   when TIMESTAMPDIFF(HOUR, resdate, NOW()) > 0
                       then CONCAT(TIMESTAMPDIFF(HOUR, resdate, NOW()), '시간 전')
                   ELSE CONCAT(TIMESTAMPDIFF(MINUTE, resdate, NOW()), '분 전')
                   END AS resdate, recommend
        FROM free_com where cno = #{cno}
    </select>

    <insert id="insertFreeComment">
        insert into free_com
        values(default, #{fno}, #{name}, #{content}, default, default)
    </insert>

    <update id="updateRecommend">
        update free_com set
        <if test='type.equals("Plus")'>
            recommend = recommend + 1
        </if>
        <if test='type.equals("Minus")'>
            recommend = recommend - 1
        </if>
        where cno = #{cno}
    </update>

</mapper>