<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.pro05.persis.FreeMapper">

    <select id="cateList" resultType="com.chunjae.pro05.entity.Category">
        select * from category
    </select>

    <select id="freeList" resultType="com.chunjae.pro05.entity.Free">
        SELECT fno, cateName AS cate, name, title, content, DATE_FORMAT(resdate, '%Y-%m-%d') AS resdate, views, recommend
        FROM free f JOIN category c ON (f.cate=c.cate)
        <where>
            <if test="type != null">
                <trim prefixOverrides="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title LIKE concat('%', #{keyword}, '%')
                        </when>
                        <when test="type == 'C'.toString()">
                            content LIKE concat('%', #{keyword}, '%')
                        </when>
                        <when test="type == 'W'.toString()">
                            name LIKE concat('%', #{keyword}, '%')
                        </when>
                    </choose>
                </trim>
            </if>
            <if test="category != null">
                AND f.cate = #{category}
            </if>
        </where>
        order by fno desc limit #{postStart}, #{postCount}
    </select>

    <select id="getFreeVO" resultType="com.chunjae.pro05.entity.FreeVO">
        select fno, cateName as cate, id, f.name as name, title, content, DATE_FORMAT(resdate, '%Y-%m-%d') AS resdate, views, recommend
        from free f join category c on (f.cate = c.cate) join user u on (f.name = u.name) where fno = #{fno}
    </select>

    <select id="getFree" resultType="com.chunjae.pro05.entity.Free">
        select * from free where fno = #{fno}
    </select>

    <insert id="insertFree">
        insert into free
        values(default, #{cate}, #{name}, #{title}, #{content}, default, default, default)
    </insert>

    <update id="updateFree">
        update free set title = #{title}, content = #{content}
        where fno = #{fno}
    </update>

    <delete id="deleteFree">
        delete from free where fno = #{fno}
    </delete>

    <update id="updateViews">
        update free set views = views + 1 where fno = #{fno}
    </update>

    <update id="updateRecommend">
        update free set
        <if test='type.equals("Plus")'>
            recommend = recommend + 1
        </if>
        <if test='type.equals("Minus")'>
            recommend = recommend - 1
        </if>
        where fno = #{fno}
    </update>

    <select id="totalCnt">
        select count(*) FROM free f JOIN category c ON (f.cate=c.cate)
        <where>
            <if test="type != null">
                <trim prefixOverrides="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title LIKE concat('%', #{keyword}, '%')
                        </when>
                        <when test="type == 'C'.toString()">
                            content LIKE concat('%', #{keyword}, '%')
                        </when>
                        <when test="type == 'W'.toString()">
                            name LIKE concat('%', #{keyword}, '%')
                        </when>
                    </choose>
                </trim>
            </if>
            <if test="category != null">
                AND f.cate = #{category}
            </if>
        </where>
    </select>

</mapper>