<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.pro05.persis.PaymentMapper">

    <select id="totalPayment" resultType="integer">
        select count(*) from payment where buyer = #{name}
    </select>

    <select id="myPayment" resultType="com.chunjae.pro05.entity.AboutTradeVO">
        SELECT p.pno AS pno, t.tno as tno, title, name, dstate, arrivalDate, uid, rating, trustTrade, u.content AS content, IFNULL(uid, 0) AS 'isReview'
        FROM payment p LEFT OUTER JOIN delivery d ON (p.pno=d.pno) JOIN trade t ON (t.tno=p.tno) LEFT OUTER JOIN userrating u ON (u.tno=t.tno)
        WHERE p.buyer = #{name}
        ORDER BY pno desc limit #{postStart}, #{postCount}
    </select>

    <select id="totalProduct">
        select count(*) from payment p JOIN trade t ON (p.tno=t.tno) where name = #{name}
    </select>

    <select id="myProduct">
        SELECT p.pno AS pno, t.tno as tno, tradeType, title, name, t.price, deliveryFee, state, dstate
        FROM payment p JOIN delivery d ON (p.pno=d.pno) RIGHT OUTER JOIN trade t ON (t.tno=p.tno)
        WHERE t.name = #{name}
        ORDER BY pno desc limit #{postStart}, #{postCount}
    </select>

    <insert id="addPayment">
        insert into payment
        values(default, #{tno}, #{buyer}, #{impUid}, #{merchantUid}, #{applyNum}, #{price})
    </insert>

    <select id="yearProfit" resultType="java.util.HashMap">
        SELECT label
             ,SUM(profit) AS profit
        FROM
            (SELECT DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 YEAR), '%Y') AS label
                  ,0 AS profit
             FROM dual
             UNION ALL
             SELECT DATE_FORMAT(payDate, '%Y') AS label
                  ,SUM(price) AS profit
             FROM payment
             WHERE payDate >= DATE_ADD(NOW(), INTERVAL -1 YEAR)
             GROUP BY DATE_FORMAT(payDate, '%Y')) a
        GROUP BY label
    </select>

    <select id="monthProfit" resultType="java.util.HashMap">
        SELECT label
             ,SUM(profit) AS profit
        FROM
            (SELECT DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 MONTH), '%Y-%m') AS label
                  ,0 AS profit
             FROM dual
             UNION ALL
             SELECT DATE_FORMAT(payDate, '%Y-%m') AS label
                  ,SUM(price) AS profit
             FROM payment
             WHERE payDate >= DATE_ADD(NOW(), INTERVAL -1 MONTH)
             GROUP BY DATE_FORMAT(payDate, '%Y-%m')) a
        GROUP BY label
    </select>

</mapper>