<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.pro05.persis.TradeRecommendsMapper">

    <insert id="insertTradeRecommend">
        insert into tradeRecommends
        values(default, #{name}, #{tno})
    </insert>

    <delete id="deleteTradeRecommend">
        delete from tradeRecommends where tno = #{tno} and name = #{name}
    </delete>

</mapper>