<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.pro05.persis.UserMapper">

    <select id="getUserList" resultType="com.chunjae.pro05.entity.User">
        select * from user order by id desc
    </select>

    <select id="getUser" resultType="com.chunjae.pro05.entity.User">
        select * from user where name = #{name}
    </select>

    <!-- 탈퇴하기 act:JOIN-활동중, DORMANT-휴면중, WITHDRAW-탈퇴중 -->
    <update id="getWithdraw">
        update user set act='WITHDRAW' where id = #{id}
    </update>

    <!-- 계정 활성화 -->
    <update id="getActivate">
        update user set act='JOIN' where name = #{name}
    </update>

    <update id="getDormant">
        update user set act='DORMANT' where name = #{name}
    </update>

    <select id="getByEmail" resultType="com.chunjae.pro05.entity.User">
        select * from user where email = #{email}
    </select>

    <select id="getByName" resultType="com.chunjae.pro05.entity.User">
        select * from user where name = #{name}
    </select>

    <select id="getUserById" resultType="com.chunjae.pro05.entity.User">
        select * from user where id = #{id}
    </select>

    <select id="findById" resultType="com.chunjae.pro05.entity.User">
        select * from user where email = #{email} and tel = #{tel}
    </select>

    <select id="findByPw" resultType="com.chunjae.pro05.entity.User">
        select * from user where email = #{email} and tel = #{tel} and name = #{name}
    </select>

    <insert id="userJoin">
        insert into user
        values(default, #{name}, #{password}, #{username}, #{email}, #{addr1}, #{addr2}, #{postcode}, #{tel}, #{birth}, null, null, default, default, default)
    </insert>

    <update id="updateUser">
        update user set password = #{password}, username = #{username}, email = #{email}, addr1 = #{addr1}, addr2 = #{addr2}, postcode = #{postcode}, tel = #{tel}
        where id = #{id} or name = #{name}
    </update>

    <update id="updateLevel">
        update user set lev = #{lev} where name = #{name}
    </update>

    <delete id="removeUser">
        delete from user where id = #{id} or name = #{name}
    </delete>

    <select id="getUserRating" resultType="com.chunjae.pro05.entity.UserRating">
        SELECT * FROM (SELECT seller, FORMAT(AVG(rating), 1) as avgRating, COUNT(trustTrade) as cntTrustTrade FROM userRating u GROUP BY seller) a,
                      (SELECT COUNT(tno) AS cntProducts FROM trade GROUP BY name) b
        WHERE seller = #{seller}
        UNION ALL
        SELECT #{seller} AS seller, 0 AS avgRating, 0 AS cntTrustTrade, 0 AS cntProducts FROM DUAL
        LIMIT 1
    </select>

    <select id="getUserRatingList" resultType="com.chunjae.pro05.entity.UserRating">
        SELECT * FROM userRating WHERE seller = #{seller} ORDER BY RAND() LIMIT 6
    </select>

    <update id="updateAccount">
        update user set bank = #{bank}, accountNum = #{accountNum} where name = #{name}
    </update>

    <insert id="insertUserRating">
        insert into userRating values(default, #{tno}, #{seller}, #{buyer}, #{rating}, #{trustTrade}, #{content})
    </insert>

    <update id="editUserRating">
        update userRating set rating = #{rating}, trustTrade = #{trustTrade}, content = #{content} where uid = #{uid}
    </update>

</mapper>