<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 커뮤니티 </title>
    <th:block th:replace="layout/head :: headFragment"></th:block>
</head>
<body>
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<th:block th:replace="layout/header :: headerFragment"></th:block>

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="/">Home</a> / <a th:href="@{/free/list.do}">커뮤니티</a> / 상세보기</span>
                <h3> 커뮤니티 </h3>
            </div>
        </div>
    </div>
</div>
<div class="single-property section">
    <div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="main-content">
                    <span class="category mt-0 mb-3" th:text="${detail.cate}"></span>
                    <div class="d-flex justify-content-between">
                        <h2 th:text="${detail.title}"></h2>
                        <th:block th:with="attr=${detail.fno} + ':freeRecommendCookie'">
                            <button th:if="${#session.getAttribute(attr) == null}" class="border-0 bg-body" id="plusFreeRecommend" th:value="${detail.fno}"> <i class="fa-regular fa-heart fa-xl" style="color: #ed2c2c;"></i> 좋아요 </button>
                            <button th:if="${#session.getAttribute(attr) != null}" class="border-0 bg-body" id="minusFreeRecommend" th:value="${detail.fno}"> <i class="fa-solid fa-heart fa-xl" style="color: #ed2c2c;"></i> 좋아요 </button>
                        </th:block>
                    </div>
                    <hr>
                    <div class="col-lg-8" style="min-height: 30vh;" th:utext="${detail.content}"></div>
                    <div class="d-flex justify-content-end mb-2" th:if="${#strings.equals(#authentication.principal, detail.id)}">
                        <div class="btn-group">
                            <a th:href="@{/free/edit.do(fno=${detail.fno})}" class="btn btn-outline-dark"> 수정 </a>
                            <a th:href="@{/free/delete.do(fno=${detail.fno})}" class="btn btn-danger"> 삭제 </a>
                        </div>
                    </div>
                </div>
                <div class="comment-content mt-4">
                    <p class="mb-2" id="comment_cnt"> 댓글([[${commentList.size()}]]개) </p>
                    <div class="d-flex justify-content-between">
                        <textarea cols="30" ro`ws="3" id="content" name="content" class="form-control" style="resize: none"></textarea>
                        <input type="button" id="addComment" class="btn btn-dark" value="전송">
                    </div>
                    <div id="comment_wrap">
                        <div class="mt-4 comment_list" th:each="comment : ${commentList}">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h6 style="margin-right: 10px"> [[${comment.name}]]님 </h6> · <p style="margin-left: 10px"> [[${comment.resdate}]] </p>
                                </div>
                                <th:block th:with="attr=${comment.cno} + ':commentCookie'">
                                    <button th:if="${#session.getAttribute(attr) == null}" class="border-0 bg-body" th:id="'plusRecommend_'+${comment.cno}" th:value="${comment.cno}"> <i class="fa-regular fa-thumbs-up fa-xl"></i> [[${comment.recommend}]] </button>
                                    <button th:if="${#session.getAttribute(attr) != null}" class="border-0 bg-body" th:id="'minusRecommend_'+${comment.cno}" th:value="${comment.cno}"> <i class="fa-solid fa-thumbs-up fa-xl"></i> [[${comment.recommend}]] </button>
                                </th:block>
                            </div>
                            <p> [[${comment.content}]] </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-table">
                    <ul>
                        <li class="d-flex justify-content-between align-items-center">
                            <i class="fa-regular fa-user-circle fa-2xl" style="color: #f35525"></i>
                            <h4 class="text-end">[[${detail.name}]]<br><span> 작성자 </span></h4>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <i class="fa-regular fa-calendar fa-2xl" style="color: #f35525"></i>
                            <h4 class="text-end">[[${detail.resdate}]]<br><span> 작성일자 </span></h4>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <i class="fa-regular fa-eye fa-2xl" style="color: #f35525"></i>
                            <h4 class="text-end">[[${detail.views}]]회<br><span> 조회수 </span></h4>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <i class="fa-regular fa-heart fa-2xl" style="color: #f35525"></i>
                            <h4 class="text-end" id="freeRecommend">[[${detail.recommend}]]개<br><span> 좋아요 </span></h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(() => {
        $("#addComment").on("click", function() {
            $.ajax({
                url: "/freeComment/insert.do",
                type:"post",
                data:JSON.stringify({ fno : [[${detail.fno}]], content : $("#content").val() }),
                dataType:"json",
                contentType: "application/json",
                success: function(result) {
                    $("#comment_wrap .comment_list").remove();
                    for(let idx in result) {
                        let tag = '<div class="mt-4 comment_list"><div class="d-flex justify-content-between align-items-baseline"><div class="d-flex justify-content-between align-items-baseline">' +
                            '<h6 style="margin-right: 10px">' +  result[idx].name + '님 </h6> · <p style="margin-left: 10px"> ' + result[idx].resdate + '</p>' +
                            '</div>';
                        if(sessionStorage.getItem(result[idx].cno + ":commentCookie") == null) {
                            tag += '<button class="border-0 bg-body" id="plusRecommend_' + result[idx].cno + '" value="' + result[idx].cno + '"> <i class="fa-regular fa-thumbs-up fa-xl"></i> ' + result[idx].recommend + ' </button>';
                        } else {
                            tag += '<button class="border-0 bg-body" id="plusRecommend_' + result[idx].cno + '" value="' + result[idx].cno + '"> <i class="fa-solid fa-thumbs-up fa-xl"></i> ' + result[idx].recommend + ' </button>';
                        }
                        tag += '</div><p>' + result[idx].content + '</p></div>';

                        $("#comment_wrap").append(tag);
                    }
                    $("#comment_cnt").text('댓글(' + result.length + '개)');
                    $("#content").val("");

                    console.log(result);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });

        $(document).on("click", "button[id^='plusRecommend']", function() {
            $.ajax({
                url: "/freeComment/plusRecommend.do",
                type:"post",
                data:JSON.stringify({ cno : $(this).val() }),
                dataType:"json",
                contentType: "application/json",
                success: function(result) {
                    $("#plusRecommend_" + result.cno).html('<i class="fa-solid fa-thumbs-up fa-xl"></i> ' + result.recommend);
                    $("#plusRecommend_" + result.cno).attr("id", "minusRecommend_" + result.cno);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        })

        $(document).on("click", "button[id^='minusRecommend']", function() {
            $.ajax({
                url: "/freeComment/minusRecommend.do",
                type:"post",
                data:JSON.stringify({ cno : $(this).val() }),
                dataType:"json",
                contentType: "application/json",
                success: function(result) {
                    $("#minusRecommend_" + result.cno).html('<i class="fa-regular fa-thumbs-up fa-xl"></i> ' + result.recommend);
                    $("#minusRecommend_" + result.cno).attr("id", "plusRecommend_" + result.cno);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        })

        $(document).on("click", "button[id='plusFreeRecommend']", function() {
            $.ajax({
                url: "/free/plusRecommend.do",
                type:"post",
                data:JSON.stringify({ fno : $(this).val() }),
                dataType:"json",
                contentType: "application/json",
                success: function(result) {
                    $("#plusFreeRecommend").html('<i class="fa-solid fa-heart fa-xl" style="color: #ed2c2c;"></i> 좋아요');
                    $("#plusFreeRecommend").attr("id", "minusFreeRecommend");
                    $("#freeRecommend").html(result.recommend + '개<br><span> 좋아요 </span>');
                },
                error: function(err) {
                    console.log(err);
                }
            });
        })

        $(document).on("click", "button[id='minusFreeRecommend']", function() {
            $.ajax({
                url: "/free/minusRecommend.do",
                type:"post",
                data:JSON.stringify({ fno : $(this).val() }),
                dataType:"json",
                contentType: "application/json",
                success: function(result) {
                    $("#minusFreeRecommend").html('<i class="fa-regular fa-heart fa-xl" style="color: #ed2c2c;"></i> 좋아요');
                    $("#minusFreeRecommend").attr("id", "plusFreeRecommend");
                    $("#freeRecommend").html(result.recommend + '개<br><span> 좋아요 </span>');
                },
                error: function(err) {
                    console.log(err);
                }
            });
        })
    });
</script>

<th:block th:replace="layout/footer :: footerFragment"></th:block>
</body>
</html>