<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 게시판 </title>
    <th:block th:replace="layout/head :: headFragment"></th:block>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
</head>
<body>
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<th:block th:replace="layout/header :: headerFragment"></th:block>

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="/">Home</a> / 커뮤니티</span>
                <h3> 커뮤니티 </h3>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5 pb-5">
    <div class="w-50 m-auto">
        <form th:action="@{/free/insert.do}" method="post" class="mt-5 mb-5">
            <label for="title" class="form-label"> 제목 </label>
            <input type="text" id="title" name="title" class="form-control" maxlength="50">

            <label for="content" class="form-label mt-2"> 내용 </label>
            <textarea id="content" name="content" class="form-control" rows="20" maxlength="2000"></textarea>
            <script>
                CKEDITOR.replace('content',	{filebrowserUploadUrl:'/free/imageUpload.do'});
            </script>

            <input type="submit" class="btn btn-dark mt-3 w-100" value="작성하기">
        </form>
    </div>
</div>

<th:block th:replace="layout/footer :: footerFragment"></th:block>

</body>
</html>